.navbar {
    background-color: #101423;
    max-width: 20%;

    display: flex;
    flex-direction: column;

    padding: 1rem 2rem;
}

.root__div {
    display: flex;
    height: 100%;
}

.navbar a {
    color: var(--clr-light);
    text-decoration: none; /* Remove underline (optional) */
    transition: 1s color;
    padding: 0.75rem 1rem 0.75rem 0;

    white-space: nowrap;

    &:hover {
        color: var(--clr-cyan);
        cursor: pointer; /* Change the cursor to a hand pointer on hover */
        text-decoration: underline;
    }
}
