.navbar {
    background-color: #101423;
    max-width: 26%;

    display: flex;
    flex-direction: column;

}

.root__div {
    display: flex;
    height: 100%;
}

.navbar a {
    text-decoration: none; /* Remove underline (optional) */
    transition: 0.25s color;
    padding: 0.6rem 6rem 0.6rem 1.5rem;
    font-weight: bold;
    white-space: nowrap;

    &:hover {
        color: rgb(241, 245, 249);
        background-color: rgba(7, 10, 19, 0.5);

        cursor: pointer; /* Change the cursor to a hand pointer on hover */
        text-decoration: underline;
    }
}

.active {
    color: rgb(241, 245, 249);
    background-color: rgba(7, 10, 19, 0.5);
}

.inactive {
    color: rgba(241, 245, 249, 0.6);
}
